{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block content %}
<div class="user_page_container">
    <h1>Welcome, {{ username }}! </h1>
</div>

<div id="deck-buttons">
    {% for deck in user_decks %}
        <button class="deck-btn" data-deck-id="{{ deck.id }}">
            {{ deck.list_name }}
        </button>
    {% endfor %}
</div>
{% endblock %}

{% block head%}
<style>
    .user_page_container{
        background-color: #f0f4f8;   
        padding: 40px;
        border-radius: 15px;
        text-align: center;          
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: 99%;
        height: 70vh;
    }
    h1 {
        color: #1e4eb6;
        font-size: 1.7em;
        margin-top: 60px;
        margin-bottom: 80px;
        font-weight: bold;
    } 
</style>
{% endblock %}

{% block extra_js %}
<script>
    const deckButtons = document.querySelectorAll(".deck-btn");

    deckButtons.forEach(btn => {
        btn.addEventListener("click", () => {
            const deckId = btn.dataset.deckId;
            
            window.location.href = `{% url 'home' %}?deck_id=${deckId}`;

        });
    });
</script>

{% endblock %}